<div class="container">
     <div class="jumbotron">
        <h1>Friend Finder</h1>
        <hr>
        <p>Answer a few basic questions.</p>
           <p>Then find the friend with the greatest compatibility!</p>
        <a href="/survey"><button type="button" class="btn btn-primary btn-lrg">Got To Survey</button></a>
    </div>
        <p><a href="/api/friends">Friends List</a> | <a href="https://github.com/ricopella/friendfinder">GitHub Repo</a></p>
</div>